@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")
;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14.2px;
}
.hache{
    flex: 2;
    height: 22vh;
    width: 22vw;
}


.Mensajes {
    display: flex;
    width:  100vw;
    height:     100vh;
    background-image:url("../public/fondo-wp-blanco.jpg");
    border: solid rgb(142, 3, 255) 20PX;
    border-top: solid rgb(133, 3, 255) 20PX; 
    border-radius:  13%;

    flex-direction: column-reverse;
    align-items: end;
    overflow: hidden;
    gap:    2vh;
}

.Mensajes .uno{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 20PX;
    width:          56vw;    
    height:     11vh;
    box-shadow: rgba(11, 20, 26, 0.13) 0px 1px 0.5px 0px;
    position: relative;
    bottom: 46vh;
    right:  16vh;
    justify-content: center;
    align-items: center;
}

.Mensajes .mensajes-viejos{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.Mensajes .uno .contenido-uno{
    left: 6VH;
    color: #000306;
    font-weight: 700;;
    height: 8vh;
}

.Mensajes .uno .estado-uno{
    display: none;
}

.Mensajes .uno .hora-uno{
    right:           3vh;
        color: rgb(230, 203, 203);
    font-weight: 900;
    font-size:  11px;
    font-style: italic;
    top:        6vw;
    position: relative;
    
}




.Mensajes .enviar{
    bottom: 7VH;
    left:   9VH;
    border: none;
    width:  6vw;
    height: 16vh;
    position: absolute;
}

.Mensajes .enviar .Enviar-Mensaje{
    border: none;
    border-radius: 22%;
    background-color: white ;
    width:  65vw;
    height:     20vh;
    flex: 2;

    
}


.Mensajes .enviar .clase-2{
    border: none;
    border-radius: 22%;
    background-color: white ;
    width:  70vw;
    height:     20vh;
    flex: 2;
}

.Mensajes .enviar .clase-2::first-line{
    position: absolute;
    left: 6vh;
    bottom: 5vh;
    color: blueviolet;

}

.Mensajes .enviar  .Enviar-Mensaje::placeholder{
    display: flex;
    color: rgb(233,253,222,);
    justify-content: center;
    align-items: center;
    left: 1vh;
    border: none;
    position: relative;
}

 .Perfil{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width:      88vw;
    height:     8.3vh;
    border-bottom: solid 0.2PX rgba(0, 0, 0, 0.082) ;
    position: relative;
    bottom: 84.8VH;
    z-index:   1;
    right: 1vh;
}

 .Perfil .flecha{
    width:  3VW;
    height: 2VW;
    background-color: white;
    border: white;
    position: relative;
    left:   1.5VH;
}






.imagen-emperador{
    display: flex;
    height: 55px;
    width: 55px;
    position: relative;
    left:  1.5VH;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}


.imagen-emperador img{
width: 50%;
}


.imagen-emperador:hover{
    height: 263px;
    width: 263px;
    position: relative;
    top: 21vh;
}



.El-Emperador{
    position: relative;
    right:  0.5vh;
    color: black;
    font-weight: 800;
    font-size:  2.5vh;
}

.llamar{
    position: relative;
    left:   6vw;
    border: none;
    background-color: white;
}

.grabar{
    position: relative;
    left:   4vw;
    border: none;
    background-color: white;
}

.pintar{
    position: relative;
    left:   3.5vw;
    border: none;
    background-color: white;
}






.Mensajes .mensajes-nuevos{
    display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column-reverse;
  bottom: 12vh;
  position: relative;
  right: 3vh;
  
}

.Mensajes .mensajes-nuevos .mensaje-nuevo{
    background-color: rgb(226,254,198);
    border-radius:  15%;
    width: 40vw;
    height: 10vh;
    box-shadow: rgba(11, 20, 26, 0.13) 0px 1px 0.5px 0px;
}

.Mensajes .mensajes-nuevos .mensaje-nuevo .contenido-mensaje-nuevo {
    position: relative;
    color: #2d3f30;
    font-weight: 600;
    top: 4VH;
    left: 2VH;
    

}

.Mensajes .mensajes-nuevos  .mensaje-nuevo .hora-mensaje-nuevo {
    position: relative;
    color: #789777b2;
    font-style: italic;
    left:  16vh;
    top: 3.5vh;
    font-size:  1.5VH;
    
}

.Mensajes .mensajes-nuevos .mensaje-nuevo .estado-mensaje-nuevo {
    position: relative;
    color: blue;
    left:   16.5vh;
    top: 4.5vh;

}


.inicio {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    background-image:url("../public/caballos.jpg");
    border: solid rgb(142, 3, 255) 20PX;
    border-top: solid rgb(133, 3, 255) 20PX; 
    border-radius:  13%;
}

.inicio .quien{
    position: absolute;
    width: 36vw;
    height: 14vh;
    font-size: 6vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    right: 6vh;
    color: rgb(38, 0, 255);
    background-image: url("../public/fondo-wp-blanco.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.inicio .emper {
    width: 15vw;
    height: 40vh;
    position: relative;
    right: 17vh;
    top: 24vh;
}

.inicio .enamo {
    width: 15vw;

    position: relative;
    left: 1vh;
    top: 24vh;
    height: 40vh;
}



@media screen and (min-width: 500px) {
    .Mensajes .uno{
     right: 32vh;
    }
    .Mensajes .uno .hora-uno{
        top: 3vh;
    }
    .Mensajes .enviar{
        left: 25vh;
    }
    .inicio .quien{
        top: 12vh;
        left: 62vh;
    }

    
.Mensajes .mensajes-nuevos  .mensaje-nuevo .hora-mensaje-nuevo {

    left:  30vh;

    
}

.Mensajes .mensajes-nuevos .mensaje-nuevo .estado-mensaje-nuevo {
    left:   30.5vh;

}
.Mensajes .mensajes-nuevos .mensaje-nuevo .contenido-mensaje-nuevo {

    left: 9VH;
    
}  

@media screen and (min-width: 870px) {
    .Mensajes .uno{
     right: 68vh;
    }
    .Mensajes .uno .hora-uno{
        top: 4vh;
        left: 31vh;
    }
    .Mensajes .enviar{
        left: 35vh;
    }
    .inicio .quien{
        top: 12vh;
        left: 62vh;
    }

    
.Mensajes .mensajes-nuevos  .mensaje-nuevo .hora-mensaje-nuevo {

    left:  67vh;

    
}

.Mensajes .mensajes-nuevos .mensaje-nuevo .estado-mensaje-nuevo {
    left:   67.5vh;

}
.Mensajes .mensajes-nuevos .mensaje-nuevo .contenido-mensaje-nuevo {

    left: 38VH;
    
}
.Mensajes .enviar  .Enviar-Mensaje::placeholder  {
    left: 30vh;
} 
.Perfil{
    width: 98vw;
    height: 12vh;
}
 }

 @media screen and (min-width: 1270px) {
    .Mensajes .uno{
     right: 43vh;
    }
    .Mensajes .uno .hora-uno{
        top: 4vh;
        left: 23vh;
    }
    .Mensajes .enviar{
        left: 15vh;
    }
    .inicio .quien{
        top: 12vh;
        left: 62vh;
    }

    
.Mensajes .mensajes-nuevos  .mensaje-nuevo .hora-mensaje-nuevo {

    left:  43vh;

    
}

.Mensajes .mensajes-nuevos .mensaje-nuevo .estado-mensaje-nuevo {
    left:   43.5vh;

}
.Mensajes .mensajes-nuevos .mensaje-nuevo .contenido-mensaje-nuevo {

    left: 22VH;
    
}
.Mensajes .enviar  .Enviar-Mensaje::placeholder  {
    left: 30vh;
} 
.Perfil{
    width: 98vw;
}
 }

 
@media screen and (min-width: 870px) {
    .Mensajes .uno{
     right: 68vh;
    }
    .Mensajes .uno .hora-uno{
        top: 4vh;
        left: 31vh;
    }
    .Mensajes .enviar{
        left: 35vh;
    }
    .inicio .quien{
        top: 12vh;
        left: 62vh;
    }

    
.Mensajes .mensajes-nuevos  .mensaje-nuevo .hora-mensaje-nuevo {

    left:  67vh;

    
}

.Mensajes .mensajes-nuevos .mensaje-nuevo .estado-mensaje-nuevo {
    left:   67.5vh;

}
.Mensajes .mensajes-nuevos .mensaje-nuevo .contenido-mensaje-nuevo {

    left: 38VH;
    
}
.Mensajes .enviar  .Enviar-Mensaje::placeholder  {
    left: 30vh;
} 
.Perfil{
    width: 98vw;
    height: 12vh;
}
 }

 @media screen and (min-width: 1800px) {
    .Mensajes .uno{
     right: 74vh;
    }
    .Mensajes .uno .hora-uno{
        top: 4vh;
        left: 37vh;
    }
    .Mensajes .enviar{
        left: 42vh;
    }
    .inicio .quien{
        top: 12vh;
        left: 62vh;
    }

    
.Mensajes .mensajes-nuevos  .mensaje-nuevo .hora-mensaje-nuevo {

    left:  65vh;

    
}

.Mensajes .mensajes-nuevos .mensaje-nuevo .estado-mensaje-nuevo {
    left:   65.5vh;

}
.Mensajes .mensajes-nuevos .mensaje-nuevo .contenido-mensaje-nuevo {

    left: 32VH;
    
}
.Mensajes .enviar  .Enviar-Mensaje::placeholder  {
    left: 30vh;
} 
.Perfil{
    width: 98vw;
}
 }

.imagen-emperador{
    top: 2vh;
}
}


.iniciarSesion{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../public/fondo-wp-blanco.jpg");
}

.iniciar{
    position: relative;
    width: 56vw;
    height: 23vh;
    bottom: 8vh;
}

.iniciar::placeholder{
    position: relative;
    font-size: 6vh;
    left: 25vh;
}

.iniciar::first-line{
    position: relative;
    font-size: 6vh;
    left: 25vh;
}

.flecha2{
    position: absolute;
    background-color: blueviolet;
    width: 30vw;
    height: 30vh;
    bottom: 45vh;
    right: 78vh;
}

.tarot{
    width: 20vw;
    position: absolute;
    right: 6vw;
    top: 20vw;
}

.elegir{
  display: flex;
  justify-content: center;
  align-items: center;
    color: rgb(38, 0, 255);
    border-radius: 50%;
    width: 22vw;
    height: 12vh;
    position: absolute;
    font-size: 8vh;
    right:  9vh;
    top: 22vh;
    background-image: url("../public/fondo-wp-blanco.jpg");
}



.ocultar{
    display: none;
}

.ver{
    display: none;
}

.imagenArcano{
    position: absolute;
    bottom: 37vh;
    left: 101vh;

}

.seleccionar{
    width: 100vw;
    height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    column-gap: 16vw;
    background-image: url("../public/el-jardin.jpg");
}



.contenedor-msj{
    color: blueviolet;
    position: relative;
    bottom: 42vh;
    right: 26vh;
    width: 26vw;
    background-image: url("../public/fondo-wp-blanco.jpg");
}

.input{
    position: relative;
    height: 12vh;
    width: 27vw;
    right: 26vh;
    bottom: 42vh;
}

.mensaje3{
    height: 16vh;
    font-size: 20px;
}

.apuntar{
    background-image: url("/prueba.png");
    position: absolute;
    color:whitesmoke;
    font-weight: 7000;
    font-family:fantasy;
    font-size: 6vh;
    font-style: oblique;
    bottom: 44vh;
    left: 42vh;
    height: 44vh;
    width: 26.4vw;
}


.informacion-autor{
    font-size: 4vh;
}

.imagenArcano2{
    position: absolute;
    bottom: 33vh;
    left: 63vh;

}


.eliminarHistorial{
    display: flex;
    background-color: rgba(255, 0, 0, 0.507);
    position: absolute;
    bottom: 55vh;
    width: 23vw;
    height: 15vh;
    left: 12vh;
    justify-content: center;
    align-items: center;
}

.mensaje2{
    height: 16vh;
    font-size: 20px;
}

.contenedor-msj2{
    color: blueviolet;
    position: absolute;
    bottom: 16vh;
    right: 155vh;
    width: 26vw;
    background-image: url("fondo-wp-blanco.jpg")
}



.input2{
    position: relative;
    height: 12vh;
    width: 26vw;
}



.apuntar2{
    background-image: url("/prueba.png");
    position: absolute;
    color:whitesmoke;
    font-weight: 7000;
    font-family:fantasy;
    font-size: 6vh;
    font-style: oblique;
    bottom: 44vh;
    left: 5vh;
    height: 44vh;
    width: 26.4vw;
}


.noencontrar{
    background-image: url("nosaber.jpg");
    width: 100vw;
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.notfound{
    position: relative;
    bottom: 73vh;
    left: 13vh;
    font-family: cursive;
    font-weight: 900;
    font-size: 13vh;
    color: blueviolet;
    
}

.notfound2{
    position: relative;
    bottom: 23vh;
    right: 43vh;
    font-family: cursive;
    font-weight: 900;
    font-size: 8vh;
    color: blue;
    
}

.abajo{
    position: absolute;
    left: 101vh;
    top: 56vh;
}

.contenedor-msj3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image:  url("../public/fondo-wp-blanco.jpg");
    color:blueviolet;
    font-weight: 7000;
    font-family:cursive;
    font-size: 6vh;
    font-style: oblique;
    right: 95vh;
    width: 57vh;
    border-radius: 30%;
}

.formCrear{
    display: flex;
    background-image: url("../public/fondo-wp-blanco.jpg");
    flex-direction: column;
    align-items: start;
    justify-content: start ;
    position: absolute;
    width: 95vh;
    height: 67vh;
    left: 26vh;
    top: 92vh;
    gap: 8vh;
}

.formh2{
display:flex ;
color:color-mix(in srgb, blue 73%, black 27%);
font-size: 3.5vh;
}


.formParaHablarDeVuelta{
    position: absolute;
    top: 122vh;
    background-image: url("../public/fondo-wp-blanco.jpg");
    width: 42vh;
    height: 10vh;
    left: 129vh;
}


.prueba9{
    background-image: url("LeEmpereur.jpg");
    height: 98vh;
    width: 85vw;
    position: absolute;
}