@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")
;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14.2px;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


.hache{
    flex: 2;
    height: 22vh;
    width: 22vw;
}


.Mensajes {
    display: flex;
    width:  100vw;
    height:     100vh;
    background-image:url("../public/fondo-wp-blanco.jpg");
    border: solid rgb(142, 3, 255) 20PX;
    border-top: solid rgb(133, 3, 255) 20PX; 
    border-radius:  13%;

    flex-direction: column-reverse;
    align-items: end;
    overflow: hidden;
    gap:    2vh;
}

.Mensajes .uno{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 20PX;
    width:          56vw;    
    height:     11vh;
    box-shadow: rgba(11, 20, 26, 0.13) 0px 1px 0.5px 0px;
    position: relative;
    bottom: 46vh;
    right:  16vh;
    justify-content: center;
    align-items: center;
}

.Mensajes .mensajes-viejos{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.Mensajes .uno .contenido-uno{
    left: 6VH;
    color: #000306;
    font-weight: 700;;
    height: 8vh;
}

.Mensajes .uno .estado-uno{
    display: none;
}

.Mensajes .uno .hora-uno{
    right:           3vh;
        color: rgb(230, 203, 203);
    font-weight: 900;
    font-size:  11px;
    font-style: italic;
    top:        6vw;
    position: relative;
    
}




.Mensajes .enviar{
    bottom: 7VH;
    left:   9VH;
    border: none;
    width:  6vw;
    height: 16vh;
    position: absolute;
}

.Mensajes .enviar .Enviar-Mensaje{
    border: none;
    border-radius: 22%;
    background-color: white ;
    width:  65vw;
    height:     20vh;
    flex: 2;

    
}


.Mensajes .enviar .clase-2{
    border: none;
    border-radius: 22%;
    background-color: white ;
    width:  70vw;
    height:     20vh;
    flex: 2;
}

.Mensajes .enviar .clase-2::first-line{
    position: absolute;
    left: 6vh;
    bottom: 5vh;
    color: blueviolet;

}

.Mensajes .enviar  .Enviar-Mensaje::placeholder{
    display: flex;
    color: rgb(233,253,222,);
    justify-content: center;
    align-items: center;
    left: 1vh;
    border: none;
    position: relative;
}

 .Perfil{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width:      88vw;
    height:     8.3vh;
    border-bottom: solid 0.2PX rgba(0, 0, 0, 0.082) ;
    position: relative;
    bottom: 84.8VH;
    z-index:   1;
    right: 1vh;
}

 .Perfil .flecha{
    width:  3VW;
    height: 2VW;
    background-color: white;
    border: white;
    position: relative;
    left:   1.5VH;
}






.imagen-emperador{
    display: flex;
    height: 55px;
    width: 55px;
    position: relative;
    left:  1.5VH;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}


.imagen-emperador img{
width: 50%;
}


.imagen-emperador:hover{
    height: 263px;
    width: 263px;
    position: relative;
    top: 21vh;
}



.El-Emperador{
    position: relative;
    right:  0.5vh;
    color: black;
    font-weight: 800;
    font-size:  2.5vh;
}

.llamar{
    position: relative;
    left:   6vw;
    border: none;
    background-color: white;
}

.grabar{
    position: relative;
    left:   4vw;
    border: none;
    background-color: white;
}

.pintar{
    position: relative;
    left:   3.5vw;
    border: none;
    background-color: white;
}






.Mensajes .mensajes-nuevos{
    display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column-reverse;
  bottom: 12vh;
  position: relative;
  right: 3vh;
  
}

.Mensajes .mensajes-nuevos .mensaje-nuevo{
    background-color: rgb(226,254,198);
    border-radius:  15%;
    width: 40vw;
    height: 10vh;
    box-shadow: rgba(11, 20, 26, 0.13) 0px 1px 0.5px 0px;
}

.Mensajes .mensajes-nuevos .mensaje-nuevo .contenido-mensaje-nuevo {
    position: relative;
    color: #2d3f30;
    font-weight: 600;
    top: 4VH;
    left: 2VH;
    

}

.Mensajes .mensajes-nuevos  .mensaje-nuevo .hora-mensaje-nuevo {
    position: relative;
    color: #789777b2;
    font-style: italic;
    left:  16vh;
    top: 3.5vh;
    font-size:  1.5VH;
    
}

.Mensajes .mensajes-nuevos .mensaje-nuevo .estado-mensaje-nuevo {
    position: relative;
    color: blue;
    left:   16.5vh;
    top: 4.5vh;

}


.inicio {
    display: flexbox;
    justify-content: center;
    align-items: start;
    background-image:url("../public/caballos.jpg");
    height: 100vh;
}



.inicio .emper {
    width: 85%;
    height: 95%;
}

.inicio .enamo {
    width: 85%;
    height: 95%;
}

.inicio .h1sDeInicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.inicio .tarot{
    width: 85%;
    height: 95%;
}

.inicio .h1sDeInicio .elegir{
  display: flex;
  justify-content: center;
  align-items: center;
    color: rgb(38, 0, 255);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    font-size: 22px;
    background-image: url("../public/fondo-wp-blanco.jpg");
}

.inicio .imagenesAElegir{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70%;
    flex-wrap: wrap;
}

@media screen and (max-width: 525px) {
 
    .inicio .emper {
        width: 123px;
        height: 65%;
        
    }
    
    .inicio .enamo {
        width: 123px;
        height: 65%;
    }
    .inicio .tarot {
        width: 283px;
        height: 90%;
    }

}

@media screen and (min-width: 525px) {
 
    .inicio .emper {
        width: 143px;
        height: 65%;
        
    }
    
    .inicio .enamo {
        width: 143px;
        height: 65%;
    }
    .inicio .tarot {
        width: 423px;
        height: 65%;
    }

}


 





.iniciarSesion{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../public/fondo-wp-blanco.jpg");
}

.iniciar{
    position: relative;
    width: 56vw;
    height: 23vh;
    bottom: 8vh;
}

.iniciar::placeholder{
    position: relative;
    font-size: 6vh;
    left: 25vh;
}

.iniciar::first-line{
    position: relative;
    font-size: 6vh;
    left: 25vh;
}

.flecha2{
    position: absolute;
    background-color: blueviolet;
    width: 30vw;
    height: 30vh;
    bottom: 45vh;
    right: 78vh;
}





.ocultar{
    display: none;
}

.ver{
    display: none;
}



.seleccionar{
    width: 100vw;
    height: 160vh;
    display: flex;
    flex-direction: column;
    background-image: url("../public/el-jardin.jpg");
    flex-wrap: wrap;
}

.bloquearYHablar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
    position: relative;
    top: 10%;
}

.contenedor-msj{
    color: blueviolet;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 40%;
    height: 60%;
    background-image: url("../public/fondo-wp-blanco.jpg");
    justify-content: space-around;
}
.mensaje3{
    font-size: 18px;
}

.inputDeMsj{
    height: 22%;
    width: 100%;
}



.apuntar{
    display: flex;
    flex-direction: row;
    background-image: url("/prueba.png");
    color:rgb(255, 246, 198);
    font-weight: 7000;
    font-family:fantasy;
    font-size: 25px;
    width: 33%;
    height: 70%;
}

.imagenArcano{
    width: 100%;
}




.apuntar2{
    display: flex;
    flex-direction: row;
    background-image: url("/prueba.png");
    color:rgb(255, 246, 198);
    font-weight: 7000;
    font-family:fantasy;
    font-size: 25px;
    width: 38%;
    height: 70%;
}

.imagenArcano2{
  width: 30%;
}

.laManoYAbajo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
}

.contenedor-msj3{
    background-image:  url("../public/fondo-wp-blanco.jpg");
    color:blueviolet;
    font-weight: 7000;
    font-family:cursive;
    font-size: 26px;
    font-style: oblique;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
}

.abajo{
    width: 10%;
}

.formCrearPersona{
    display: flex;
    flex-direction: row;
    background-image: url("../public/fondo-wp-blanco.jpg");
    height: 30%;
    justify-content: space-around;
    position: relative;
    top: 10%;

}

.formCrear{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 50%;
}
.formh2{
    color:color-mix(in srgb, blue 73%, black 27%);
    font-size: 122%;
    }

    .forminput{
        height: 50%;
       width: 50%;
     
        }
    
.btn-enviar{
    color: blueviolet;
    border: none;
    font-size: 122%;
}


    .formParaHablarDeVuelta{

        width: 50%;
  
    }

    .mensajeParaNuevo{
font-size: 125%;
    }

    .inputHablar{
width: 90%;
height: 15%;
    }


    @media screen and (max-width: 525px) {
 .contenedor-msj{
    height: 60%;
    width: 20%;
 }
 .mensaje3{
    font-size: 8px;
 }
 .apuntar{
    width: 17%;
    background-image: none;
    font-size: 16px
 }
 .imagenArcano{
    width:50%;
    height: 60%;
 }
 .inputDeMsj{
  font-size: 8px;
}

.apuntar2{
    width: 40%;
    height: 10%;
    background-image: none;
    font-size: 16px
 }
 .arcano2{
    width:100%;
height: 60%;
 }

 .formh2{
    font-size: 8px;
 }
 .abajo{
    width: 40%;
 }
    
    }
    
    @media screen and (min-width: 525px) {
     
    
    
    }


.informacion-autor{
    font-size: 4vh;
}





.eliminarHistorial{
    display: flex;
    background-color: rgba(255, 0, 0, 0.507);
    position: absolute;
    bottom: 55vh;
    width: 23vw;
    height: 15vh;
    left: 12vh;
    justify-content: center;
    align-items: center;
}








.noencontrar{
    background-image: url("/nosaber.jpg");
    width: 100vw;
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.notfound{
    position: relative;
    bottom: 73vh;
    left: 13vh;
    font-family: cursive;
    font-weight: 900;
    font-size: 13vh;
    color: blueviolet;
    
}

.notfound2{
    position: relative;
    bottom: 23vh;
    right: 43vh;
    font-family: cursive;
    font-weight: 900;
    font-size: 8vh;
    color: blue;
    
}








